@charset "utf-8";

/* HTML Styles */
html{
    color: #506fa8;
    display: block;
}

/* Header Styles */

header h1 {
    background-color: #676767
}

/* Body Styles */

body {
    background-color: rgb(184, 184, 184);
}

/* Aside Styles */

aside {
    float: right;
    text-align: center;
}

/* Footer styles */

footer {
    text-align: center;
    background-color: #445980;
}