@charset "utf-8";

body {
    background-color: rgb(126, 165, 184);
}

aside {
    text-align: center;
    float:right;
    clear: both;
}

footer {
    text-align: center;
    clear: both; 
    background-color:rgb(64, 122, 151);
}